<div class="text-center">
  console.log("hey")
  <h2>{{name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}

  <section class="products">
  <div class="container">
    <h2 class="products-title">Some title</h2>
    <div class="products-items"></div>
    <button class="products-btn">Show more</button>
  </div>
</section>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>
</div>

<script src="/js/book.js"></script>