<div class='container mt-5'>
  <header class='text-center'>
    <h1>
      Welcome to Bookbusta!
    </h1>
    <p>
      The ultimate book review catalog for book enthusiast! With Bookbusta you
      are able to dive into a world of books and discover new books as you
      explore. Bookbusta is your go to whether you are looking for new
      recommendations or looking for in-depth reivews. Join Bookbusta today to
      enjoy this experience.
    </p>
  </header>
</div>

<div class='container text-center mt-3'>
  <img
    src='/images/bookbusta.jpeg'
    alt='Bookbusta image'
    class='img-fluid'
  />
</div>

<!-- Loop over each object in the books array -->
{{!-- {{#each books as |book| }}
<div class="row mb-4 book">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/book/{{book.id}}">{{book.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount book.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{book.user.name}} on {{format_date book.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{book.description}}
    </p>
  </div>
</div>
{{/each}} --}}

{{!-- <div class='container'>
  <div class='row homepage-main text-center'>
    {{#each books as |book|}}
      <div
        class='row mb-4 project card bg-secondary text-light shadow col-md-10 mx-auto text-left mt-5'
      >
        <div class=''>
          <h3>
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
            {{{book.title}}}
            <div class='image'>
              <img src='{{book.thumbnail}}' />
            </div>
            <a href='/book/{{book.id}}'>{{book.name}}</a>
          </h3>
          <p>{{book.description}}</p>
          <p>Created by
            {{book.user.name}}
            on
            {{format_date book.date_created}}</p>
        </div>
        <div class='text-center'>

          <a href='#' class='btn btn-primary'>Go to Book</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class='container'>
  <div class='row homepage-main text-center'>
    {{#each comments as |comment|}}
      <div
        class='row mb-4 project card bg-secondary text-light shadow col-md-10 mx-auto text-left mt-5'
      >
        <div class=''>
          <p>{{comment.comment_body}}
            by
            {{comment.user.name}}
            on
            {{format_date comment.date_created}}</p>
        </div>
        <div class='text-center'>
          <a href='#' class='btn btn-primary'>Go to Book</a>
        </div>
      </div>
    {{/each}}
  </div>
</div> --}}