<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div>
    <h3>Saved Books:</h3>

    {{!-- Saved to Favorites Books --}}
    <div id='book-list' class='container'>
      <div class='row homepage-main text-center'>
        {{#each books as |book|}}
        <div class='row mb-4 project card bg-secondary text-light shadow col-md-10 mx-auto text-left mt-5'>
          <div class=''>
            <h3>
              <a class='text-light' href='/book/{{book.id}}'>
                {{{book.title}}}
              </a>
              <p class="text-light">
                {{{book.author}}}
              </p>
              <div class='image'>
                <img src='{{book.thumbnail}}' />
              </div>
              <a href='/book/{{book.id}}'>{{book.name}}</a>
            </h3>
            <p>{{book.description}}</p>
            <div class='bg-dark text-light'>
              {{#each book.comments as |comment|}}
              <p>"{{comment.comment_body}}" </p>
              <p class="small ">By {{comment.user.name}} on {{format_date comment.date_created}}</p>
              <p></p>
              {{/each}}
            </div>
          </div>
          <div class='text-center'>
            <a href='{{book.buyLink}}' class='btn btn-primary'>Go to Book</a>
            <button data-id="{{book.id}}" class="btn btn-primary">Remove from Favorites</button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <script src="./js/profile.js"></script>